.form {
	text-align: center;
	margin: 20px;
	width: 60%;
}

.contentBody {
	margin-left: 20px;
	margin-right: 20px;
}

.returnToMainButton {
	margin-top: 10px;
	padding: 5px;
	background-color: #222222;
	border: .5px solid #222222;
	border-radius: 5px;
	color: white;
}

.returnToMainButton:hover {
	background-color: white;
	color: #222222;
}

.form input {
	border-radius: 5px;
	width: 50%;
	border: 2px solid lightgrey;
}

.formContainer {
	text-align: -webkit-center
}

.formHeader {
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FF5252;
	font-size: 200%;
}

.fieldError {
	color: red;
	font-weight: bold;
}

.formBody {
	border-left: solid 1px #222222;
    padding: 20px;
}

.fieldText {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 125%;
}

.formSubmit {
	margin-top: 10px;
	padding: 5px 10px;
	background-color: white;
	border: .5px solid red;
	border-radius: 5px;
	color: #FF5252;
}

.formSubmit:hover {
	background-color: #FF5252;
	color: white;
}

.formSubmit a {
	color: #FF5252;
	text-decoration: none;
}
#main-button a:hover {
	color: white;
}

.qDisplay {
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #222222;
	font-size: 150%;
}

.qGroup {
	border: solid lightgrey 0.5px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
   	box-shadow: 0px 2px 2px 0px #888;
}

.qItem {
	margin: 15px;
}

.groupHead {
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #222222;
	font-size: 150%;
}

.requiredAsterix {
	color: red;
}

.asterixText {
	font-size: 70%;
	margin-top: 10px;
}

.modalHead {
	margin-bottom: 20px;
}

.modalContent {
	font-size: 125%;
	font-family: 'Roboto', sans-serif;
}

.modalContent > div {
	margin-bottom: 10px;
}

.modalClose {
  color: Black;
  font-size: 150%;
  text-align: right;
}

.modalClose:hover {
  color: #FF5252;
  cursor: pointer;
}